*.og filter=lfs diff=lfs merge=lfs -text
*/user-2020-05-20-macuserdeMacBook-Pro.local.og filter=lfs diff=lfs merge=lfs -text
user-2020-05-20-macuserdeMacBook-Pro.local.og filter=lfs diff=lfs merge=lfs -text
