<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="env" source="spring.profiles.active"/>
    <if condition='property("env").contains("dev")'>
        <then>
            <include resource="org/springframework/boot/logging/logback/base.xml"/>
        </then>
    </if>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir:-logs}/sales-system-migration.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir:-logs}/sales-system-migration-%d{yyyy-MM-dd}-${HOSTNAME}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="fileAppender"/>
    </root>

    <logger name="com.wosai.sales.system.migration" level="Debug"/>

</configuration>
